<div class="row">

  <!-- <div>
    <input type="text" [(ngModel)]= 'textSimple'>
    <p>{{textSimple}}</p>
  </div> -->

  <div class="col-sm-6" *ngIf="professorSelecionado">
    <div class="row">
      <div class="mr-auto">
        <app-title [title]="'Professor: ' + professorSelecionado.nome"></app-title>
      </div>
      <div class="mt-1">
        <button class = "btn btn-outline-danger" (click)="voltar(professor)">Fechar</button>
      </div>
    </div>

    <form [formGroup]= "profForm" (submit)='profSubmit()'>
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" formControlName= "nome" class="form-control" id="formGroupExampleInput">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Disciplina</label>
        <input type="text" formControlName= "disciplina" class="form-control" id="formGroupExampleInput">
      </div>
      <div class="form-group">
        <hr>
        <button class="btn btn-success" [disabled]="!profForm.valid">Enviar</button>
      </div>
    </form>
  </div>

  <div [ngClass]="{'col-sm-6': professorSelecionado, 'col-sm-12' : !professorSelecionado}" >
    <app-title [title]="title"></app-title>
    <br>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Visualizações</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of professores">
          <td><button class="btn btn-sm btn-warning" (click)="professorSelect(prof)">Detalhes</button></td>
          <td scope="row">{{prof.id}}</td>
          <td>{{prof.nome}}</td>
          <td>{{prof.disciplina}}</td>
          <!-- td>.btn-group>btn.btn.btn-warning{detalhes} -->
          <td>
            <div class="btn-group">

              <button (click)="openModal(template)" class="btn btn-sm btn-primary">Alunos</button>
              <button class="btn btn-sm btn-danger">Desativar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

 <!-- ## MODAL ## -->

<ng-template #template>
  <div class="modal-body">
    <app-alunos></app-alunos>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right btn-outline-danger" aria-label="Close" (click)="modalRef.hide()">
      FECHAR
    </button>
  </div>
</ng-template>
